// app global css in SCSS form
:root {
    --tertiary: #555;
    --neutral: #E0E1E2;
    --positive: #21BA45;
    --negative: #DB2828;
    --info: #31CCEC;
    --warning: #F2C037;
    
    --primary: #861C6A;
    --secondary: #FA3336;
    --field-icon-size: 43px;
    --item-icon-size: 43px;
    --typography-font-family: 'Raleway', 'Open Sans', sans-serif;
    --content-toolbar-margin: 5rem;
    --between-content-margin: 0.4rem 0;
  }
  